


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}


/* .....header....... */
/* .....header....... */
/* .....header....... */

/* .....header....... */



header{
    background-image: url(banner-left-img/bgfinalimg.jpg);
    background-repeat: no-repeat;
    
}
h1
{
    
    font-family: 'Poppins', sans-serif;
color: white;
font-weight: 700;
font-size:64px;
position: absolute;
top: 273.24px;
left: 205.92px;


}

.WACH_LIVE{text-decoration: none;
    background-color: rgba(242, 255, 4, 0.837);

}

.led{
    width: 168px;
    height: 44px;
    position: absolute;
    top:612.48px;
    left:205.92px;
    background-color: rgb(208, 59, 5);
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
}
.WACH_LIVE:hover .led{
    background-color: rgb(0, 255, 251);
    width: 200px;
    transition: 2.5s;




 
    
}


.banner{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.banner-left{

}
.banner-text{

}
/* ..................... */
/* ........main............... */
/* ........................ */
/* article */
/* players */
main{
    margin-top: 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 39.6px;
    margin:237.6px;
    margin-top: 0;
  
    

}
.player{
    
    width: 330px;
    height: 474px;
    box-shadow: 2px 1px 10px gray;
    margin-bottom: 35.64px;
    overflow-y: hidden;
    
}
.player-profile-img{
    display: flex;
    justify-content: space-around;

}

.player-profile-img img{
    width: 100%;
    height:100%;

}
.player-profile{
    margin: 15px;
    

}


.player-profile h3 {
    font-weight: 700px;
    font-size: 28px;

    

}
.player-profile p{
font-size: 16px;

color: rgb(108, 108, 108);



}
/* .........player..finish.......... */

/* .........player..finish.......... */

/* .........player..finish.......... */

  /* video section */
  /* video section */
  /* video section */


.tv-vedio{
    display: flex;
    align-items: center;
    margin:136px;
}
.coch img{
    width: 567px;
    height: 341px;
}
.video-text{
    margin: 26px;
    padding:20px;

}
.video-text-heading{
    font-weight: 700;
    font-size: 48px;

}
.coch{
    margin:20px;
}


 /* video section  finish*/
  /* video section finish */
  /* video section finish */



  /* <!-- newstodAY            -->
  <!-- newstodAY            -->
  <!-- newstodAY            --> */
  
  .NEWS-TODAY{color: rgb(179, 17, 17);
  
      font-weight: 700;
      font-size: 48px;
  
  }
.news{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    margin: 50px;
}

.news-img img{
    width: 100%;
    border-radius: 10px;
}

.news-img p{
    font-size: 16px;
    padding-right: 30px;
   
    color: rgb(108, 108, 108);
}


/* <!-- newstodAY  finish          -->
<!-- newstodAY  finish          --> */
/* <!-- newstodAY  finish          --> */

/* <!-- legendl start -->
<!-- legendl start -->
<!-- legendl start -->
<!-- legendl start  -->
 */







.our-legends{font-weight: 700;
    font-size: 48px;
    color: gold;
    

}

.legend-pic img{
    width: 100%;
    border-radius: 20px;
}
.legend-pic{
    /* border: 2px solid red; */
    width: 360.59px;
    height: 239px;
    overflow: hidden;
    overflow-y: hidden;
    margin-left: 20px;
}


.leaders{
    position: relative;
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 50px;
}
.legend-text p{
    position: absolute;
    top: 76px;
    padding: 15px;
    display: none;
    color: white;
    font-size: 20px;
    


}
@media only screen and (min-width: 600px) { 

.legend-pic:hover img{
    width: 120%;
    cursor: grab;
    transition: 2.5s;
   
}

.legend-pic:hover .legend-text p{
    display: block;
    width: 50%;
    width: 250px;
    background-color: rgba(237, 15, 218, 0.179);


transition: 5ss;
}


}
footer{
    text-align: center;
}












@media only screen and (max-width: 400px) {
    body { margin: 0;
      background-color: rgb(255, 255, 255);
    }
      .players{
        display: flex;
    flex-direction: column;   
    margin: 15px;
    box-shadow: 2px 1px 10px gray;
    
    }
    
    
    
 

  }











